* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ebebeb;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Helvetica;
    font-size: 18px;
}

h1, h2{
    color: #b9090b;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 10px;
}

.container {
    width: 80%;
    margin: 10% auto 0 auto;
    text-align: center;
   
}

.user-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px #d0d0d0;
}
.contact-form {
    width: 60%;
    margin: 0 auto;
}

.row {
    margin-bottom: 10px;
}

input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border:  1px solid #ccc;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

textarea {
    height: 40px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none}

/*----Nav Bar-----*/

/*.main-nav {
    background-color: #ffffff;
    
}*/
.main-nav li{
    float: left;
}

.main-nav li a:hover{
    background-color: #890000;
}

.active {
    background-color: #890000;
}

.main-nav a{
    display: block;
    padding: 8px;
    background-color: #9f0000;
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/------TakeAttendance---/

input[type=text],
input[type=email],
input[type=number],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border:  1px solid #ccc;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
